<div class="card">
  <h5 class="card-header">Log in to Housekapp</h5>
  <div class="card-body">
    <div class="">
      <form action="/login" method="POST"> <!--FILL IN LOG IN POST ROUTE-->
        <div class="form-group">
          <input type="email" name="username" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
        {{#if message}}
          <p>{{message}}</p>
        {{/if}}
      </form>
    </div>
  </div>
</div>
