<form action="/signup" method="post" enctype="multipart/form-data">
  <label for="username">Name</label>
  <input type="text" name="name">

  <label for="email">Email</label>
  <input type="text" name="username">

  <label for="password">Password</label>
  <input type="password" name="password">
  
  <label for="password">Confirm password</label>
  <input type="password" name="confirmPassword">

  <label>Profile Picture</label>
  <input type="file" name="avatar">

  {{#if message}}
    <p>{{message}}</p>
  {{/if}}

  <button type="submit">Signup</button>
</form>