<form action="/edit/group/{{groupId}}" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" id="group-name" placeholder="Insert group name">
  <label for="name">People:</label>
  <input type="text" name="people" id="group-name" placeholder="Insert email to send invite to">
  <input type="submit" value="Submit">
</form>