<div class="container mb-4 mt-5">
  <div class="row h-100">
    <div class="col-lg-6 col-md-9 col-sm-12 my-auto">
      <h3 class="text-wrap black-text"><b>Thank you for signing up</b></h3>
      <p class="black-text">A verification email has been sent to blahblah@blah.com</p>
    </div>
  </div>
</div>