<div class="container-fluid first-div"> <!-- bg pic with text -->
  <div class="row h-100">
    <div class="col-lg-6 col-md-9 col-sm-12 my-auto">
      <h1 class="text-wrap first-text black-text">Managing expenses and tasks with others can be tough. <b>That's where we come in.</b></h1>
    </div>
  </div>
</div>
<div id="introducing-housekapp" class="container-fluid gif-color"> <!-- intro housekapp with gif -->
  <div class="row h-100">
    <div class="col-lg-6 col-md-6 col-sm-12 my-auto">
      <h1 class="text-wrap first-text text-white"><b>Introducing Housekapp</b></h1>
      <h4 class="text-wrap text-white font-weight-light small-text">A site made to help you and your roommates organize tasks and expenses all in <b class="font-weight-bold">one place.</b></h4>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 my-auto">
      <img class="gif" src="images/shapes.gif" alt="">
    </div>
  </div>
</div>
<div class="container third-container"> <!-- How does it work? -->
  <div class="row">
    <div class="col-12 text-center pt-5 pb-5">
      <h1 class="font-weight-bold">Organization has never been easier</h1>
    </div>
  </div>
  <div class="row text-center pb-5">
    <div class="col-sm-12 col-md-6 col-lg-4 pb-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title font-weight-bold">Create</h4>
          <p class="card-text">Sign up, create a Home, and invite your roommates.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 pb-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title font-weight-bold">Add</h4>
          <p class="card-text">Add tasks or expenses, assign them, and fill out the details.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 pb-3 mx-auto">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title font-weight-bold">Complete</h4>
          <p class="card-text">Finish tasks and pay expenses. Keep track of them in the completed list.</p>
        </div>
      </div>
    </div>
</div>
</div> 