<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />

  <!-- FONT -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700,800,900&display=swap" rel="stylesheet">

  <title>{{title}}</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="/"><b>Housekapp</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <!-- Add condition for LOGOUT -->
      {{#if users}}
        <li class="nav-item"> <!-- WELCOME BACK -->
          <button type="button" class="btn" disabled>
            <a class="text-dark text-decoration-none">Welcome back, {{loggedUser.name}}</a>
          </button>
        </li>
        <li class="nav-item"> <!-- DASHBOARD -->
          <button type="button" class="btn">
            <a class="text-dark text-decoration-none" href="/dashboard">My Home</a>
          </button>
        </li>
        <li class="nav-item"> <!-- LOGOUT -->
          <button type="button" class="btn">
            <a class="text-dark text-decoration-none" href="/logout">Logout</a>
          </button>
        </li>
      {{else}}
        <li class="nav-item">
          <!-- Sign up button trigger modal -->
          <button type="button" class="btn" data-toggle="modal" data-target="#signup-modal">
          Sign up
          </button>      
        </li>
        <li class="nav-item">
          <!-- Log in button trigger modal -->
          <button type="button" class="btn" data-toggle="modal" data-target="#login-modal">
          Log in
          </button>
        </li>
      {{/if}}
    </ul>
  </div>
</nav>
<!--Log in Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light border-0">
        <h5 class="modal-title black-text" id="exampleModalLabel">Log in to Housekapp</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/login" method="POST"> <!--FILL IN LOG IN POST ROUTE-->
          <div class="form-group">
            <input type="email" name="username" class="form-control" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-success">Sign in</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Sign up Modal -->
<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light border-0">
        <h5 class="modal-title black-text" id="exampleModalLabel">New to Housekapp? Sign up here</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/signup" method="POST" enctype="multipart/form-data"> <!--FILL IN SIGN UP POST ROUTE-->
          <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="email" name="username" class="form-control" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password">
          </div>
          <div class="form-group">
            <label for="profile-pic" class="text-muted pl-2">Your picture </label>
            <input type="file" name="profile-pic">
          </div>
          <button type="submit" class="btn btn-success">Sign up</button>
        </form>
      </div>
    </div>
  </div>
</div>

  {{{body}}}
<footer class="navbar the-nav-color fixed-bottom">
  <a class="navbar-item nav-link the-nav-color">contact@housekapp.com</a>
  <a class="navbar-item the-nav-color">Copyright 2019. All rights reserved</a>
</footer>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="/javascripts/script.js"></script>
</body>
</html>