<form action="/signup/{{groupId}}" method="post" enctype="multipart/form-data">
  <label for="name">Name</label>
  <input type="text" name="name">

  <label for="username">Email</label>
  <input type="text" name="username" value="{{email}}">

  <label for="password">Password</label>
  <input type="password" name="password">
  
  <label for="password">Confirm password</label>
  <input type="password" name="confirmPassword">

  <input type="text" name="groupId" value="{{groupId}}" hidden="true">

  <label>Profile Picture</label>
  <input type="file" name="avatar">

  {{#if message}}
    <p>{{message}}</p>
  {{/if}}

  <button type="submit">Signup</button>
</form>